.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px 0;
}

.field {
  background-color: #c7bfbf61; 
  color: #000000;
  padding: 20px 15px;
  border-radius: 10px;
  text-align: center;
  min-width: 60px;
}

.value {
  display: block;
  font-size: 2em;
  font-weight: 800;
}

.label {
  display: block;
  font-size: 0.8em;
  margin-top: 5px;
  color: #141414;
}
input {
  font-family: Open Sans;
}
